<div>
  <div class="goods">
    <div class="menu-wrapper" id="menuWrapper">
      <ul>
        <li class="menu-item" ng-repeat="item in goods" ng-class="{current:currentIndex===$index}" ng-click="selectMenu($index, $event)">
          <span class="text border-1px">
		      <i class="icon {{classMap[item.type]}}" ng-show="item.type>=0" ng-class="classMap[item.type]"></i>
          {{item.name}}
        </span>
        </li>
      </ul>
    </div>
    <div class="foods-wrapper" id="foodsWrapper">
      <ul>     
        <li class="food-list food-list-hook" ng-repeat="item in goods">
          <h1 class="title">{{item.name}}</h1>
          <ul>
            <li class="food-item border-1px" ng-repeat="food in item.foods" ng-click="selectFood(food, $event)">
              <img class="icon" ng-src="{{food.icon}}" alt="food.name">
              <div class="content">
                <h2 class="name">{{food.name}}</h2>
                <p class="desc">{{food.description}}</p>
                <p class="extra">
                  <span>月售{{food.sellCount}}份</span><span>好评率{{food.rating}}%</span>
                </p>
                <p class="price"><span class="new">￥{{food.price}}</span><span ng-show="food.oldPrice" class="old">￥{{food.oldPrice}}</span></p>
              </div>
              <div class="cartcontrol-wrapper">
                <!-- <cartcontrol food="food" @add="addFood"></cartcontrol> -->
                <app-cartcontrol food="food"></app-cartcontrol>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- <food ref="food" :food="selectedFood" @add="addFood"></food> -->
  <app-food food="selectedFood" ng-if="foodShow" hide="hideFood()"></app-food>
 <!--  <shopcart ref="shopcart" :delivery-price="seller.deliveryPrice" :min-price="seller.minPrice" :select-foods="selectFoods()"></shopcart> -->
  <app-shopcart ref="shopcart" delivery-price="seller.deliveryPrice" min-price="seller.minPrice" select-foods="selectFoods"></app-shopcart>
</div>
